.container{
    margin: 1rem 0;
    .pages{
        padding: 0.2rem 0.4rem;
        font-size: 1.3rem;
        background-color:rgb(58, 53, 53);
        margin:0.2rem;
        color:white;
        border-radius: 10px;
        cursor:pointer;
        transition: all 0.25s;
        &:hover{
            opacity: 0.8;
        }
    }
    .active{
        display: inline-block;
        transform: scale(1.3);
        transition: all 0.25s;
        background-color:rgba(0, 128, 0, 0.911)
    }
}