.container{
    font-family: 'Roboto', sans-serif;
    span{
        margin-right: 1rem;
    }
    table{
        font-family: 'Roboto', sans-serif;
    }
    td,th{
        font-size: 20px;
         font-family: 'Roboto', sans-serif;
         padding: 0.5rem;
    }
}