/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.12,
* Autoprefixer: v10.4.4
* Browsers: last 4 version
*/

.container{
    font-family: 'Roboto', sans-serif;
    span{
        margin-right: 1rem;
    }
    table{
        font-family: 'Roboto', sans-serif;
        margin: 1rem auto;
    }
    td,th{
        font-size: 1rem;
         font-family: 'Roboto', sans-serif;
         padding: 0.5rem;
    }
    button{
        font-size: 1.5rem;
        background-color: green;
        border:none;
        border-radius: 10px;
        padding: 0.2rem 0.5rem;
    }
}
